<%= simple_form_for(@knot) do |f| %>
  <%= f.error_notification %>

  <div>
    <%= f.input :name  %>
    <%= f.input :content, :as => "text", input_html: { rows: 15 } %>
    <%= f.input :knots, input_html: { value: knots_s(@knot) } %>
  </div>

  <div>
    <%= f.button :submit %>	
  </div>
<% end %>
